@charset "UTF-8";
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-index-main-ui {
  overflow: hidden;
  width: 10rem;
  left: 50% !important;
  margin-left: -375px;
  background: #fff;
  overflow: hidden;
  opacity: 0;
  z-index: -1; }
  .zmiti-index-main-ui .zmiti-index-wrap .zmiti-top {
    position: absolute;
    left: 0;
    height: 70px;
    top: -70px;
    width: 100%;
    text-align: center;
    color: #999; }
  .zmiti-index-main-ui .zmiti-index-wrap .zmiti-bottom {
    position: absolute;
    left: 0;
    height: 70px;
    bottom: -70px;
    width: 100%;
    text-align: center;
    color: #999; }
  .zmiti-index-main-ui:before {
    display: none;
    content: '别扯了，没有啦^_^';
    position: absolute;
    left: 0;
    top: 1vh;
    width: 100%;
    text-align: center;
    color: #999; }
  .zmiti-index-main-ui:after {
    display: none;
    color: #999;
    content: '我是有底线的好吗~~';
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;
    z-index: -1; }
  .zmiti-index-main-ui .zmiti-btns {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    padding: 20px 0 80px; }
    .zmiti-index-main-ui .zmiti-btns > div {
      margin: 0 10px; }
  .zmiti-index-main-ui .zmiti-copyright {
    width: 100%;
    text-align: center;
    color: #a63000;
    padding-bottom: 40px; }
  .zmiti-index-main-ui.show {
    opacity: 1;
    z-index: 10; }
  .zmiti-index-main-ui .zmiti-index {
    margin-top: 5vh; }
  .zmiti-index-main-ui .zmiti-canvas {
    box-sizing: border-box;
    position: absolute;
    top: 10vh;
    left: 0; }

@-webkit-keyframes rotate1 {
  to {
    -webkit-transform: rotate(360deg) scale(2);
    transform: rotate(360deg) scale(2);
    opacity: 0; } }
.zmiti-loading {
  z-index: 1000; }
  .zmiti-loading .zmiti-loading-ui {
    width: 6rem;
    left: 2rem;
    position: absolute;
    top: 6rem; }
    .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar {
      width: 2rem;
      border-radius: 10px;
      position: relative;
      margin: 0 auto; }
      .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar:before {
        content: '';
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); }
      .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar .zmiti-target {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background: #fff;
        left: 50%;
        top: .4rem;
        position: absolute;
        margin-left: -0.2rem;
        -webkit-animation: scale linear 2s infinite alternate;
        animation: scale linear 2s infinite alternate; }
    .zmiti-loading .zmiti-loading-ui .zmiti-progress {
      margin-top: .5rem;
      text-align: center;
      color: #fff;
      font-family: Georgia;
      font-size: .7rem; }

/*# sourceMappingURL=index.css.map */
